<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.ai.dao.common.dao.TAiLogMapper">
  <resultMap id="BaseResultMap" type="com.hsy.ai.bean.entity.TAiLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="request_action" jdbcType="VARCHAR" property="requestAction" />
    <result column="timing" jdbcType="VARCHAR" property="timing" />
    <result column="request_method_type" jdbcType="VARCHAR" property="requestMethodType" />
    <result column="request_param" jdbcType="VARCHAR" property="requestParam" />
    <result column="user_remark" jdbcType="VARCHAR" property="userRemark" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="request_address" jdbcType="VARCHAR" property="requestAddress" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="request_response" jdbcType="VARCHAR" property="requestResponse" />
    <result column="request_thread_id" jdbcType="VARCHAR" property="requestThreadId" />
    <result column="request_source" jdbcType="VARCHAR" property="requestSource" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, request_url, user_id, request_action, timing, request_method_type, request_param, 
    user_remark, request_ip, request_address, request_time, request_response, request_thread_id, 
    request_source
  </sql>
  <select id="selectByExample" parameterType="com.hsy.ai.bean.entity.TAiLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_ai_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ai_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_ai_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsy.ai.bean.entity.TAiLogExample">
    delete from t_ai_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsy.ai.bean.entity.TAiLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ai_log (request_url, user_id, request_action, 
      timing, request_method_type, request_param, 
      user_remark, request_ip, request_address, 
      request_time, request_response, request_thread_id, 
      request_source)
    values (#{requestUrl,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{requestAction,jdbcType=VARCHAR}, 
      #{timing,jdbcType=VARCHAR}, #{requestMethodType,jdbcType=VARCHAR}, #{requestParam,jdbcType=VARCHAR}, 
      #{userRemark,jdbcType=VARCHAR}, #{requestIp,jdbcType=VARCHAR}, #{requestAddress,jdbcType=VARCHAR}, 
      #{requestTime,jdbcType=TIMESTAMP}, #{requestResponse,jdbcType=VARCHAR}, #{requestThreadId,jdbcType=VARCHAR}, 
      #{requestSource,jdbcType=VARCHAR})
  </insert>

    <insert id="saveLog"
            parameterType="com.hsy.ai.bean.entity.TAiLog"
            statementType="PREPARED"
            timeout="30"
    >
        insert into t_ai_log(id,request_url,user_id,request_action,timing,
        request_method_type,request_param,user_remark,
        request_ip,request_address,request_time,request_response,request_thread_id,request_source)
        values (#{id},#{requestUrl},#{userId},#{requestAction},#{timing},
        #{requestMethodType},#{requestParam,jdbcType=VARCHAR},#{userRemark},
        #{requestIp},#{requestAddress},#{requestTime},#{requestResponse},#{requestThreadId},#{requestSource,jdbcType=VARCHAR})
    </insert>

  <insert id="insertSelective" parameterType="com.hsy.ai.bean.entity.TAiLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_ai_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="requestAction != null">
        request_action,
      </if>
      <if test="timing != null">
        timing,
      </if>
      <if test="requestMethodType != null">
        request_method_type,
      </if>
      <if test="requestParam != null">
        request_param,
      </if>
      <if test="userRemark != null">
        user_remark,
      </if>
      <if test="requestIp != null">
        request_ip,
      </if>
      <if test="requestAddress != null">
        request_address,
      </if>
      <if test="requestTime != null">
        request_time,
      </if>
      <if test="requestResponse != null">
        request_response,
      </if>
      <if test="requestThreadId != null">
        request_thread_id,
      </if>
      <if test="requestSource != null">
        request_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="requestAction != null">
        #{requestAction,jdbcType=VARCHAR},
      </if>
      <if test="timing != null">
        #{timing,jdbcType=VARCHAR},
      </if>
      <if test="requestMethodType != null">
        #{requestMethodType,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null">
        #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestAddress != null">
        #{requestAddress,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestResponse != null">
        #{requestResponse,jdbcType=VARCHAR},
      </if>
      <if test="requestThreadId != null">
        #{requestThreadId,jdbcType=VARCHAR},
      </if>
      <if test="requestSource != null">
        #{requestSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsy.ai.bean.entity.TAiLogExample" resultType="java.lang.Long">
    select count(*) from t_ai_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_ai_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUrl != null">
        request_url = #{record.requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestAction != null">
        request_action = #{record.requestAction,jdbcType=VARCHAR},
      </if>
      <if test="record.timing != null">
        timing = #{record.timing,jdbcType=VARCHAR},
      </if>
      <if test="record.requestMethodType != null">
        request_method_type = #{record.requestMethodType,jdbcType=VARCHAR},
      </if>
      <if test="record.requestParam != null">
        request_param = #{record.requestParam,jdbcType=VARCHAR},
      </if>
      <if test="record.userRemark != null">
        user_remark = #{record.userRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.requestIp != null">
        request_ip = #{record.requestIp,jdbcType=VARCHAR},
      </if>
      <if test="record.requestAddress != null">
        request_address = #{record.requestAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.requestTime != null">
        request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.requestResponse != null">
        request_response = #{record.requestResponse,jdbcType=VARCHAR},
      </if>
      <if test="record.requestThreadId != null">
        request_thread_id = #{record.requestThreadId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestSource != null">
        request_source = #{record.requestSource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_ai_log
    set id = #{record.id,jdbcType=VARCHAR},
      request_url = #{record.requestUrl,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      request_action = #{record.requestAction,jdbcType=VARCHAR},
      timing = #{record.timing,jdbcType=VARCHAR},
      request_method_type = #{record.requestMethodType,jdbcType=VARCHAR},
      request_param = #{record.requestParam,jdbcType=VARCHAR},
      user_remark = #{record.userRemark,jdbcType=VARCHAR},
      request_ip = #{record.requestIp,jdbcType=VARCHAR},
      request_address = #{record.requestAddress,jdbcType=VARCHAR},
      request_time = #{record.requestTime,jdbcType=TIMESTAMP},
      request_response = #{record.requestResponse,jdbcType=VARCHAR},
      request_thread_id = #{record.requestThreadId,jdbcType=VARCHAR},
      request_source = #{record.requestSource,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsy.ai.bean.entity.TAiLog">
    update t_ai_log
    <set>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="requestAction != null">
        request_action = #{requestAction,jdbcType=VARCHAR},
      </if>
      <if test="timing != null">
        timing = #{timing,jdbcType=VARCHAR},
      </if>
      <if test="requestMethodType != null">
        request_method_type = #{requestMethodType,jdbcType=VARCHAR},
      </if>
      <if test="requestParam != null">
        request_param = #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="userRemark != null">
        user_remark = #{userRemark,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        request_ip = #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestAddress != null">
        request_address = #{requestAddress,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestResponse != null">
        request_response = #{requestResponse,jdbcType=VARCHAR},
      </if>
      <if test="requestThreadId != null">
        request_thread_id = #{requestThreadId,jdbcType=VARCHAR},
      </if>
      <if test="requestSource != null">
        request_source = #{requestSource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsy.ai.bean.entity.TAiLog">
    update t_ai_log
    set request_url = #{requestUrl,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      request_action = #{requestAction,jdbcType=VARCHAR},
      timing = #{timing,jdbcType=VARCHAR},
      request_method_type = #{requestMethodType,jdbcType=VARCHAR},
      request_param = #{requestParam,jdbcType=VARCHAR},
      user_remark = #{userRemark,jdbcType=VARCHAR},
      request_ip = #{requestIp,jdbcType=VARCHAR},
      request_address = #{requestAddress,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      request_response = #{requestResponse,jdbcType=VARCHAR},
      request_thread_id = #{requestThreadId,jdbcType=VARCHAR},
      request_source = #{requestSource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>