<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    ">
    <!-- service切面处理，保存调用信息到数据库 -->
    <bean id="fixedThreadPool" class="com.hsy.java.thread.pool.FixedThreadPool">
        <!--线程池线程数量-->
        <constructor-arg type="int" value="2"/>
    </bean>
</beans>
